@using System.Web.Optimization
@using BootstrapSupport
@using NavigationRoutes
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>@ViewBag.Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="@Styles.Url("~/content/css")" rel="stylesheet"/>
        @RenderSection("head", required: false)
        @Html.Partial("_html5shiv")
       @* favicons and touch icons go here *@
    </head>
    <body>

            <div class="container">

                <header>
                    <h1>Title goes here</h1>
                     <nav class="navbar navbar-inverse">
                        <div class="navbar">
                          <div class="navbar-inner">
                            <ul class="nav">
                             @Html.Navigation()
                            </ul>
                          </div>
                        </div>
                    </nav>
                </header>
               
            </div>
           
         
        <div class="container">
            @Html.Partial("_alerts")
            @Html.Partial("_validationSummary")
            @RenderBody()   
            @*<hr>*@
           @* <footer>
                <p>&copy; NIBM @System.DateTime.Now.ToString("yyyy")</p>
            </footer> *@
        </div>
         @Scripts.Render("~/js")
         @RenderSection("Scripts", required: false)
    </body>
</html>

